.leftTabContainer {
	position: sticky;
	top: 0;
	left: 0;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	&>.leftTab {
		cursor: pointer;
		color: var(--color-darkest);
		transition: 0.25s;
		&.active {
			color: var(--color-white);
			filter: drop-shadow(var(--shadow-303));
			&>.icon {
				filter: brightness(1);
			}
		}
		&>h2 {
			font-weight: unset;
			font-size: inherit;
		}
		&>.icon {
			display: none;
			width:3rem;
			aspect-ratio: 1;
			transition: 0.25s;
			filter: brightness(0.33);
		}
	}
	@media screen and (max-width:1280px) {
		/* scale: 0.5; */
		padding: 1rem;
		flex-direction: row;
		justify-content: space-between;
		gap: 2rem;
		border-bottom: 2px solid var(--color-darkest);
		overflow-x: hidden;
		&>.leftTab {
			scale: 0.75;
		}
	}
	@media screen and (max-width:960px) {
		justify-content: center;
		border-bottom: none;
		border-top: 2px solid var(--color-darkest);
		gap: 3rem;
		&>.leftTab {
			font-size: 0;
			padding: 0;
			border-radius: 4px;
			&>h2 {
				display: none;
			}
			&>.icon {
				display: block;
			}
			&.active {
				background-color: var(--color-darkest);
			}
		}
	}
}

@media screen and (max-width:1280px) {
	body.lock .leftTabContainer {
		padding-right: calc(1rem + var(--scrollbar-width));
	}
}