section {
	min-height: 100dvh;
	padding: 5rem 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#aboutMe {
	gap: 1.5rem;
}

#skills {
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 4rem;
	&>.skillsDivision {
		max-width: 360px;
		flex:1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 4rem;
	}
	@media screen and (max-width:960px) {
		flex-direction: column;
		align-items: center;
		gap: 2rem;
		&>.skillsDivision {
			width: 100%;
			max-width: 440px;
			gap: 2rem;
		}
	}
}

#projects {
	position: relative;
	justify-content: flex-start;
	gap: 24px;
	&>.top {
		display: flex;
		position: sticky;
		gap:2rem;
		top: 1rem;
		left: 0;
		z-index: 8191;
		filter: drop-shadow(var(--shadow-202));
	}
	@media screen and (max-width:1280px) {
		&>.top {
			top: 7.5rem;
		}
	}
	@media screen and (max-width:960px) {
		&>.top {
			top: 2rem;
		}
	}
	@media screen and (max-width:480px) {
		justify-content: space-between;
		&>.top {
			position: sticky;
			top: 1rem;
			left: 0;
			z-index: 8192;
			filter: drop-shadow(var(--shadow-202));
		}
	}
}

#contactMe {
	margin-bottom: 80px;
	gap: 32px;
}