section {
	min-height: 100dvh;
	padding: 5rem 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
	&>.contents {
		display: flex;
		flex-direction: column;
	}
}

body.lock section {
	margin-right: var(--scrollbar-width);
}

.sectionTitle {
	display: none;
	color: var(--color-white);
	@media screen and (max-width:960px) {
		display: block;
	}
	@media screen and (max-width:640px) {
		text-align: center;
	}
}

#aboutMe {
	gap: 1.5rem;
}

#skills>.sectionTitle {
	text-align: center;
}

#skills>.contents {
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 4rem;
	&>.skillsDivision {
		max-width: 360px;
		flex:1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 4rem;
	}
	@media screen and (max-width:960px) {
		flex-direction: column;
		align-items: center;
		gap: 2rem;
		&>.skillsDivision {
			width: 100%;
			max-width: 440px;
			gap: 2rem;
		}
	}
}

#projects>.contents {
	position: relative;
	justify-content: flex-start;
	gap: 24px;
	&>.top {
		display: flex;
		gap:2rem;
		/* position: sticky;
		top: 1rem;
		left: 0;
		z-index: 8191;
		filter: drop-shadow(var(--shadow-202)); */
	}
	@media screen and (max-width:1280px) {
		&>.top {
			top: 7.5rem;
		}
	}
	@media screen and (max-width:960px) {
		&>.top {
			top: 2rem;
		}
	}
	@media screen and (max-width:480px) {
		&>.top {
			/* order:2; */
			justify-content: space-between;
			position: sticky;
			top: 1rem;
			left: 0;
			z-index: 8192;
			filter: drop-shadow(var(--shadow-202));
		}
	}
}

#clonePages>.contents {

}

#contactMe>.contents {
	margin-bottom: 80px;
	gap: 32px;
}