.projectTabs {
	width: initial;
	display: flex;
	padding: 8px;
	gap: 16px;
	border-radius: 8192px;
	background-color: var(--color-dark);
	color: var(--color-white);
}

.projectTab {
	cursor: pointer;
	user-select: none;
	padding: 8px 16px;
	border-radius: 8192px;
	transition: 0.15s;
	&.active{
		background-color: var(--color-light);
		color: var(--color-dark);
	}
}

.projectCardContainer {
	display: grid;
	grid-template-columns: repeat(4,1fr);
	--project-gap: 16px;
	gap: var(--project-gap);
}

/* 프로젝트카드 */
.projectCard {
	height: 400px;
	overflow: hidden;
	background-color: var(--color-medium);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	box-shadow: var(--shadow-404);
	&>.top {
		/* 상단 썸넬 */
		height: 160px;
		overflow: hidden;
		position: relative;
		font-size: 0;
		transition: 0.25s;
		/* background-color: #ff00ff; */
		&>img {
			width: 100%;
			height: auto;
		}
	}
	&>.bottom {
		/* 하단 설명& 태그 */
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 24px;
		padding: 24px;
		&>.contents {
			flex: 1;
			position: relative;
			&>.nonHover {
				/* 호버안했을때 내용*/
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				gap: 24px;
				/* background-color: #00ff00; */
				color: var(--color-light);
				overflow-y: hidden;
				transition: 0.25s;
				opacity: 1;
				&>.top>h4 {
					font-weight:unset;
					color: var(--color-white);
				}
			}
			&>.hover {
				/* 호버했을때 내용 */
				/* display: none; */
				position: absolute;
				display: flex;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				flex-direction: column;
				justify-content: center;
				gap: 32px;
				overflow-y: hidden;
				transition: 0.25s;
				opacity: 0;
				&>h4 {
					font-weight: unset;
					text-align: center;
					color: var(--color-white);
				}
			}
		}
	}
	&:hover{
		&>.top {
			height: 0;
		}
		&>.bottom>.contents {
			&>.nonHover {
				/* display: none; */
				opacity: 0;
				user-select: none;
			}
			&>.hover {
				/* display: flex; */
				opacity: 1;
			}
		}
	}
}

.projectTags {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.projectTag {
	padding: 4px 8px;
	border: var(--border-2px);
	border-radius: 4px;
	color: var(--color-light);
	box-shadow: var(--shadow-202);
	transition: 0.15s;
	user-select: none;
	&:hover {
		color: var(--color-darkest);
		background-color: var(--color-white);
		font-weight: bold;
	}
}

.projectDetailButtons {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.projectDetailButton {
	padding: 12px;
	gap: 12px;
	display: flex;
	align-items: center;
	box-shadow: var(--shadow-303);
	border-radius: 8px;
	border: var(--border-2px);
	cursor: pointer;
	transition: 0.15s;
	&>img {
		user-select: none;
		pointer-events: none;
		width: 24px;
		height: 24px;
		/* aspect-ratio: 1; */
	}
	&>p {
		user-select: none;
		flex: 1;
		text-align: center;
		color: var(--color-white);
	}
	&:hover {
		background-color: var(--color-white)!important;
		&>img {
			filter: brightness(0);
		}
		&>p {
			
			color: var(--color-darkest);
		}
	}
}