.simpleButton {
	display: block;
	border-radius: 8px;
	width: 40px;
	/* height: 48px; */
	aspect-ratio: 1;
	padding: 8px;
	font-size: 0;
	transition: 0.15s;
	box-shadow: var(--shadow-202);
	&>.icon {
		width: 100%;
		height: 100%;
		user-select: none;
		pointer-events: none;
		transition: 0.15s;
	}
	&:hover.hoverInverse {
		background-color: var(--color-white) !important;
		&>.icon {
			filter: brightness(0);
		}
	}
	&:hover.hoverBrightness {
		filter: brightness(1.3);
	}
}